/* コンセプトエリア */
#concept{
    background-color: #BFAF9B;
    background-image: url(../image/back1.png),
                      url(../image/back2.png);
    background-size: 22%,22%;
    background-repeat: no-repeat;
    background-position: 0 0, 100% 100%;
    text-align: center;
  }
  .concept-copy{
    text-align: center;
  }
  .main-copy{
    font-size: 1.5rem;
    margin-bottom: 50px;
    font-weight: normal;
  }
  .concept-text{
    margin-bottom: 20px;
    line-height: 1.8;
  }
  
  /* お知らせエリア */
  #news{
    background-color: #697366;
  }
  /*
  カラーコード : #697366 #BFAF9B #BFAF9B #401801 #8C5B3F
  
  */
  
  .news-box{
    width: 230px;
    max-width: 250px;
  
  }
  .news-box a{
    display: inline-block;
    width: 100%;
    height: 100%;
  }
  .news-number{
    font-size: .75rem;
    letter-spacing: 2px;
    font-family: 'Prata', cursive;
  }
  .news-title{
    font-size: 1rem;
    font-weight: normal;
    margin-top: 5px;
    text-decoration: underline dotted;
  }
  .news-box a img{
    transition: .4s;
    transform: scale(1);
  }
  .news-box a:hover img{
    transition: .1s cubic-bezier(0.45, 0, 0.55, 1);
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.3);
    transform: scale(0.95);
  }
  .news-box a .news-text{
    transition: .4s;
  }
  .news-box a:hover .news-text{
    transition: .1s cubic-bezier(0.45, 0, 0.55, 1);
    color: #ccc;
  }
  .news-text{
    padding: 0 10px;
    color:#401801;
  }
  .news-about{
    font-size: 1rem;
  }
  .news-image{
    max-width: 100%;
    border-radius: 5px;
  }
  
  /* 想いエリア */
  #thought{
    background-color: #401801;
  }
  #thought h2, #thought .ja-title {
    color:#fff;
  }
  .thought-container{
    position: relative;
  }
  .staff-box{
    display: none;
  }
  .staff-box.active{
    display: flex;
    flex-wrap: nowrap;
    justify-content:space-between;
    background:#fff0af;
    padding: 2rem;
  }
  .staff-image{
    display: block;
    width: 48%;
  }
  .staff-text{
    width: 48%;
  }
  .staff-title{
    font-size: 1.375rem;
    text-align: center;
    margin-bottom: 30px;
    font-weight: normal;
  }
  .staff-about{
    margin-bottom: 20px;
    padding: 20px;
    background:#fff;
  }
  .staff-name{
    text-align: right;
  }
  .slide-button{
    position: absolute;
    top: 0;
    bottom: 0;
    display: block;
    width: 48px;
    height: 48px;
    border-top: 2px solid #c0c0c0;
    margin: auto;
    cursor: pointer;
    z-index: 1;
  }
  .prev {
    left: 10px;
    border-left: 2px solid #c0c0c0;
    transform: rotate(-45deg);
  }
  .next {
    right: 10px;
    border-right: 2px solid #c0c0c0;
    transform: rotate(45deg);
  }
  /* ライフエリア */
  #cakelife{
    background: linear-gradient(#f7e3c0, #fff0af);
  }
  .life-type{
    text-align: center;
  }
  .life-img{
    width: 100%;
    margin-bottom: 5px;
  }
  .life-type a{
    display: block;
    padding: 10px;
    color: #333;
  }
  .life-type a:hover{
    color: #401801;
    box-shadow: 0 15px 30px -5px rgba(0,0,0,.15), 0 0 5px rgba(0,0,0,.1);
  }
  /* モーダル */
  .modal-main{
    display: none;
  }
  .modal-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    color: #666666;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
  }
  .inner-content{
    text-align: center;
    margin: 0;
    padding: 0;
    max-width: 1024px;
  }
  .modal-inner img{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .inner-title{
    margin-top: 40px;
    margin-bottom: 32px;
    font-size: 2.8rem;
    font-weight: bold;
  }
  .inner-text{
    font-size: 1.6rem;
    width: 70%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .modalClose{
    cursor: pointer;
  }
  #cakelife .send-button {
    background-color: #401801;
    color: #fff;
  }
  #cakelife .send-button:hover {
    background-color: #ff5a33;
  }
  
  /* menu */
  #menu{
    background-color: #697366;
  }
  .menu-menu{
    margin-bottom: 3rem;
  }
  .menu-menu ul{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-bottom: 2px solid #401801;
  }
  .menu-menu ul li{
    width: 100%;
    text-align: center;
  }
  .menu-menu ul li a{
    display: block;
    color: #333;
    background-color: #d1d1d1;
    border-radius: 30px 30px 0 0;
    padding: 0.5rem 0;
  }
  .menu-menu ul li a:hover{
    color: #fff;
    background-color: #401801;
  }
  .menu-menu ul li.active a{
    color: #fff;
    background-color: #401801;
  }
  .menu-product{
    flex-basis: 31%;
  }
  .menu-image{
    border-radius: 30px;
    border: 1px dashed #401801;
    padding: 4rem 0;
    text-align: center;
    margin-bottom: 20px;
  }
  .name-en{
    font-size: 1.5rem;
    font-weight: bold;
  }
  .menu-text{
    line-height: 1.8;
  }
  .more-menu{
    text-align: center;
    margin-top: 60px;
  }
  .btn-more{
    display: inline-block;
    background-color: #401801;
    color: #fff;
    border: #401801 solid 1px;
    padding: 10px 100px;
    font-size: 1.375rem;
    letter-spacing: 3px;
  }
  .btn-more:hover{
    background-color: #fff;
    color: #401801;
  }
  
  /* パッケージエリア */
  #package{
    background:#f6e2c1;
  }
  .package-menu{
    flex-basis: 31%;
  }
  .package-image{
    width: 100%;
    border-radius: 30px;
    margin-bottom: 20px;
  }
  .package-title{
    margin-bottom: 10px;
    letter-spacing: 2px;
  }
  .package-value{
    color: #401801;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 20px;
  }
  .package-select{
    width: 100%;
    margin-bottom: 10px;
  }
  .purchase-number{
    margin-bottom: 20px;
  }
  .number{
    width: 50px;
  }
  .select-cart{
    margin-bottom: 30px;
    height: 54px;
  }
  .select-cart a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background: #401801;
    filter: drop-shadow(0px 4px 0px #c50000);
    font-size: 1.25rem;
    color: #fff;
    margin-bottom: 4px;
    transition: 0s;
  }
  .select-cart a:hover{
    filter: none;
    height: 54px;
    margin-bottom: 0;
    transition: 0s;
  }
  
  /* 店舗情報エリア */
  #store{
    background: #BFAF9B;
  }
  /*
  カラーコード : #697366 #BFAF9B #BFAF9B #401801 #8C5B3F
  
  */
  .map-image, .cafe-text{
    flex-basis: 48%;
  }
  .store-name{
    font-size: 1.25rem;
    letter-spacing: 2px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  address{
    font-style: normal;
    letter-spacing: 1px;
    line-height: 1.8;
  }
  .store-address{
    color: #624649;
  }
  
  /* お問い合わせエリア */
  /* #697366 #624649 #BFAF9B #401801 #8C5B3F */
  #contact{
  background:#697366;
  }
  #contact h2,
  #contact .ja-title {
    color: #fff;
  }
  form{
    margin: 0 auto;
    max-width: 500px;
  }
  .ct-block{
    margin-bottom: 32px;
  }
  .contact-text{
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    color: #fff;
  }
  .form-name, .form-mail, .cp-howto select{
    border: 1px solid #b1b1b1;
    width: 100%;
    height: 40px;
    padding: 0 10px;
    background: #fff;
  }
  textarea{
    border: 1px solid #b1b1b1;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background: #fff;
  }
  .cp-howto {
    position: relative;
    border: 1px solid #b1b1b1;
    background: #fff;
  }
  /*「▼」をつける部分になります */
  .cp-howto::before {
    position: absolute;
    top: 14px;
    right: 10px;
    content: '';
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 13px solid #666;
  }
  .cp-howto select {
    border: none;
    outline: none;
    background: transparent;
    background-image: none;
    box-shadow: none;
    -webkit-appearance: none;
    appearance: none;
    padding: 10px 40px 10px 10px;
  }
   /* Internet Explorer用の記述 */
  .cp-howto select::-ms-expand {
    display: none;
  }
  .send-button{
    display: block;
    background-color: #fff;
    font-size: 1.375rem;
    padding: 10px 120px;
    margin: 0 auto;
    color: #401801;
    transition: 0.6s;
  }
  .send-button:hover{
    background-color: #BFAF9B;
    color: #401801;
    transition: 0.6s;
  }
  
  /* フッターエリア */
  footer{
    position: relative;
    background: bottom / cover no-repeat url("../image/footer.png") fixed;
    color:#fff;
  }
  footer::after {
    content: '';
    background-color: rgba(0,0,0,.75);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  .footer-content{
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin: 0 auto;
    padding: 40px 0;
    z-index: 1;
  }
  .footer-content a{
    color:#fff;
  }
  .footer-content a:hover{
    color: #624649;
  }
  .logo-wrapper{
    flex-grow: 2;
  }
  .menu{
    flex-grow: 1;
  }
  /* ロゴ */
  .logo{
    display: block;
    font-size:3rem;
    font-family: 'Prata', cursive;
    letter-spacing: 6px;
    margin-bottom: 10px;
  }
  .sns-block{
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .mark{
    margin-right: 1rem;
  }
  .mark img{
    width: 30px;
  }
  .menu ul li{
    letter-spacing: 2px;
    margin-bottom: 20px;
  }
  footer small{
    padding-bottom: 20px;
    display: block;
    text-align: center;
  }
  @media screen and (max-width:768px){
  
    /* 共通パーツ */
    section{
      overflow-x: hidden;
    }
    h1{
      font-size: 2.5rem;
      letter-spacing: 3px;
      text-align: center;
    }
    #concept, #news, #thought, #cakelife, #menu, #package, #store, #contact{
      padding:60px 0;
    }
    .g-navi {
      display: block;
      position: fixed;
      z-index: 2;
      padding-top: 60px;
      transform: translateY(-100%);
      transition: .5s ease-in-out;
      height: 100vh;
    }
    .g-navi ul{
      display: block;
    }
    .g-navi.active{
      transform: translateY(0%);
      transition: .5s ease-in-out;
    }
    .g-navi-sp{
      position: fixed;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #401801;
      width: 100%;
      height: 60px;
      padding: 4%;
      z-index: 3;
    }
    /* ロゴエリア */
    .sp-logo{
      font-size: 1.5rem;
      color: #fff;
      letter-spacing: 3px;
      font-family: 'Prata', cursive;
    }
    /* ハンバーガーメニュー */
    .menu-trigger {
      position: relative;
      width: 30px;
      height: 42px;
      cursor: pointer;
    }
    .menu-trigger span {
      display: block;
      position: absolute;
      width: 30px;
      border-bottom: solid 3px #fff;
      border-radius: 3px;
      transition: .35s ease-in-out;
    }
    .menu-trigger span:nth-child(1) {
      top: 6px;
    }
    .menu-trigger span:nth-child(2) {
      top: 18px;
    }
    .menu-trigger span:nth-child(3) {
      top: 30px;
    }
    .menu-trigger.active span:nth-child(1) {
      top: 18px;
      transform: rotate(-45deg);
    }
    .menu-trigger.active span:nth-child(2),
    .menu-trigger.active span:nth-child(3) {
      top: 18px;
      transform: rotate(45deg);
    }
  
    /* メインビジュアル */
    #main-visual{
      background-image:url(../image/sp/mv.png);
      height: 500px;
      max-height: inherit;
      padding-top: 60px;
    }
    .mv-wrapper{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
    .mv-right {
      position: relative;
      top: 0;
      right: 0;
    }
    .text{
      font-size: 1rem;
      margin-bottom: 30px;
      letter-spacing: 2px;
    }
    /* コンセプトエリア */
    #concept{
      background-size: 45%;
    }
    /* こだわりエリア */
    .news-wrapper{
      flex-wrap: wrap;
    }
    .news-box{
      margin-bottom: 20px;
      max-width: inherit;
    }
    .news-image{
      width: 100%;
    }
    .staff-box{
      display: none;
    }
    .staff-box.active{
      display: block;
      background: none;
      padding: 0 2rem 2rem 2rem;
    }
    .staff-image{
      width: 100%;
      margin-bottom: 15px;
    }
    .staff-text{
      width: 100%;
      background: #fff0af;
      padding: 15px 10px 10px;
    }
    .staff-title{
      text-align: left;
      margin-bottom: 15px;
      line-height: 1.8;
    }
    .staff-about{
      margin-bottom: 10px;
      padding: 10px;
    }
    .slide-button{
      width: 30px;
      height: 30px;
    }
    /* ライフエリア */
    .life-wrapper{
      flex-wrap: wrap;
    }
    .life-type{
      flex-basis: 47%;
      margin-bottom: 20px;
    }
    .life-type a{
      padding: 0;
    }
    /* ラインナップエリア */
    .menu-menu{
      margin-bottom: 0;
    }
    .menu-menu ul{
      flex-wrap: wrap;
      border-bottom: none;
    }
    .menu-menu ul li{
      flex-basis: 50%;
      border-bottom: 2px solid #401801;
      margin-bottom: 20px;
    }
    .menu-menu ul li a{
      border-radius: 20px 20px 0 0;
      padding: 6px 0;
    }
    .menu-wrapper{
      flex-wrap: wrap;
    }
    .menu-product{
      flex-basis: 100%;
      margin-bottom: 40px;
    }
    .menu-image{
      padding: 3rem 0;
    }
    .more-menu{
      margin-top: 0;
    }
  
    /* パッケージエリア */
    .package-wrapper{
      flex-wrap: wrap;
    }
    .package-menu{
      flex-basis: 100%;
      margin-bottom: 60px;
    }
    .package-menu:last-child{
      margin-bottom: 0;
    }
    /* 店舗情報エリア */
    .store-wrapper{
      flex-wrap: wrap;
    }
    .map-image, .cafe-text{
      flex-basis: 100%;
    }
    .map-image{
      height: 200px;
      margin-bottom: 30px;
    }
    .cafe-text{
      text-align: center;
    }
    .store-name{
      margin-bottom: 20px;
    }
    address{
      line-height: 2.4;
    }
     /* フッターエリア */
    .footer-content{
      text-align: center;
      flex-wrap: wrap;
    }
    .logo-wrapper{
      flex-grow: 1;
      flex-basis: 100%;
    }
    .logo{
      font-size: 2rem;
      margin-bottom: 20px;
    }
    .sns-block{
      justify-content: center;
      margin-bottom: 40px;
    }
    .menu{
      flex-basis: 100%;
      margin-bottom: 20px;
    }
    .menu:last-child{
      margin-bottom: 0;
    }
    .menu ul li{
      margin-bottom: 10px;
    }
  }
  /* ここまで768px以下の範囲 */
  