@charset "utf-8";
/*************************
　ページトップボタン
**************************/
#page-top a{
  display: flex;
  justify-content:center;
  align-items:center;
  background:#d4dee0;
  border-radius: 50%;
  border: #fff solid 2px;
  width: 90px;
  height: 90px;
  color: #705c53;
  text-align: center;
  text-decoration: none;
  transition:all 0.3s;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
#page-top a:hover{
  background: #705c53;
  color: #f5f1e8;
}
#page-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 2;
  opacity: 0;
  transform: translateY(120px);
  -webkit-transform: translateY(120px);
  -moz-transform: translateY(120px);
  -ms-transform: translateY(120px);
  -o-transform: translateY(120px);
}
#page-top.moving-up{
  animation: UpAnime .5s forwards;
  -webkit-animation: UpAnime .5s forwards;
}
@keyframes UpAnime{
  from {
    opacity: 0;
    transform: translateY(120px);
    -webkit-transform: translateY(120px);
    -moz-transform: translateY(120px);
    -ms-transform: translateY(120px);
    -o-transform: translateY(120px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
#page-top.moving-down{
  animation: DownAnime .5s forwards;
  -webkit-animation: DownAnime .5s forwards;
}
@keyframes DownAnime{
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    transform: translateY(120px);
    -webkit-transform: translateY(120px);
    -moz-transform: translateY(120px);
    -ms-transform: translateY(120px);
    -o-transform: translateY(120px);
  }
}

/*************************

以下、スマホ用CSS

**************************/

@media screen and (max-width:768px){
  #page-top a{
    width: 60px;
    height: 60px;
    font-size: .6rem;
    font-weight: bold;
    color: #705c53;
  }
  #page-top {
    position: fixed;
    right: 10px;
    bottom: 50px;
    z-index: 2;
    opacity: 0;
  }
}